<div class="container">
  <h1>Add New Resource</h1>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required>
    </div>

    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="text" class="form-control" id="email">
    </div>
    <div class="form-group">
      <label for="duedate">Salary</label>
      <input type="text" class="form-control" id="duedate">
    </div>
    <div class="form-group">
      <label for="plannedhours">Free time</label>
      <input type="date" class="form-control" id="plannedhours">
    </div>
    <div class="form-group">
      <label for="maxhours">Company</label>
      <input type="text" class="form-control" id="maxhours">
    </div>
    <div class="form-group">
      <label for="requiredskills">Skills</label>
      <input type="text" class="form-control" id="requiredskills">
    </div>
    <div class="form-group">
      <label for="projectleader">Working hours</label>
      <input type="time" class="form-control" id="projectleader">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>