/* td {
    text-align: center;
}

th {
    text-align: center;
} */

td li {
  list-style-type: none;
  text-align: left;
}

.bottomaligned {
  /* position: absolute; */
  
  bottom: 0;
  display: table-cell;
}

table tr td {
  position: relative;
}
