<nav class="navbar navbar-toggleable-md navbar-expand navbar-light bg-faded fixed-top" style="opacity: 0.8; color:black">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <b> Project Manager</b>
    </a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink='/'>Project Table
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink='/resourcetable'>Resource Table
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink='/addproject'>New project
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink='/addresource'>New resource
          </a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink='/register'>Register
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink='/login'>Login
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<br>
<br>