<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Languages</th>
      <th scope="col">11.06-11.12</th>
      <th scope="col">11.13-11.19</th>
      <th scope="col">11.20-11.26</th>
      <th scope="col">11.27-12.03</th>
    </tr>
  </thead>
  <tbody>
      <tr>
          <tr class="table-active">
          <th scope="row">1</th>
          <th scope="row" (click)="toggleCollapse(6)">Adam Hammer
              <i id="collapseIcon6" class="fa fa-arrow-down" aria-hidden="true"></i>
            </th>
        
        <td>HTML, CSS</td>
        <td>20</td>
        <td>5</td>
        <td>31</td>
        <td>21</td>
      </tr>
      <tr id="collapse6" style="display: none">
          <td> </td>
          <td colspan="1">E-mail: adamhammer@gmail.com</td>
          <td>Phone: 301457823</td>
          <td>Company: T-Systems</td>
          <td>Salary: 800 Ft/hour</td>
        </tr>
      <tr>
    <tr>
        <tr class="table-info">
        <th scope="row">2</th>
        <th scope="row" (click)="toggleCollapse(4)">Jacob Thorton
            <i id="collapseIcon4" class="fa fa-arrow-down" aria-hidden="true"></i>
          </th>
      
      <td>C#, Swift3</td>
      <td>20</td>
      <td>5</td>
      <td>31</td>
      <td>21</td>
    </tr>
    
    <tr id="collapse4" style="display: none">
        <td> </td>
        <td colspan="1">E-mail: jacobthorton@gmail.com</td>
        <td>Phone: 708846723</td>
        <td>Company: Morgan Stanley</td>
        <td>Salary: 1.000 Ft/hour</td>
      </tr>
      <tr>
          <tr class="table-active">
          <th scope="row">3</th>
          <th scope="row" (click)="toggleCollapse(5)">Csaba Toth
              <i id="collapseIcon5" class="fa fa-arrow-down" aria-hidden="true"></i>
            </th>
        
        <td>Xamarin, Java</td>
        <td>8</td>
        <td>0</td>
        <td>30</td>
        <td>23</td>
      </tr>
      <tr id="collapse5" style="display: none">
          <td> </td>
          <td colspan="1">E-mail: csabatoth@gmail.com</td>
          <td>Phone: 201397866</td>
          <td>Company: Parkl</td>
          <td>Salary: 1.500 Ft/hour</td>
        </tr>
      
  </tbody>
</table>