<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th class="text-center" scope="col">Name</th>
        <th class="text-center" scope="col">Company</th>
        <th class="text-center" scope="col">{{week}}. week</th>
        <th class="text-center" scope="col">{{week + 1}}. week</th>
        <th class="text-center" scope="col">{{week + 2}}. week</th>
        <th class="text-center" scope="col">{{week + 3}}. week</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let resourceEl of resources; let i = index;">
        <tr [ngClass]="setBackgroundColor(resourceEl.company)">
          <th scope="row" (click)="toggleCollapse(i)">{{ resourceEl.name }}
            <i id="collapseIcon{{i}}" class="fa fa-arrow-down" aria-hidden="true"></i>
          </th>
          <td class="text-center">{{ resourceEl.firstname }}</td>
          <td class="text-center">{{ resourceEl.company }}</td>
          <td class="text-center">-</td>
          <td class="text-center">-</td>
          <td class="text-center">-</td>
          <td class="text-center">-</td>
        </tr>
        <tr class="table" id="collapse{{i}}" style="display: none">
          <td colspan="2">
            <div>E-mail: {{ resourceEl.email }}</div>
            <div>Phone number: {{ resourceEl.phone }}</div>
            <div>Salary: {{ resourceEl.salary }}</div>
          </td>
          <td colspan="1">
            <div>Skills: {{ resourceEl.skills }}</div>
          </td>
          <td>
            <ng-container *ngFor="let skill of skills; let i = index;">
              <span>{{ skill.name }} </span>
              <a href="#" class="badge badge-secondary pull-right">
                <i class="fa fa-minus" aria-hidden="true"></i>
              </a>
              <span class="badge badge-pill badge-primary pull-right">{{ skill.number }}</span>
              <a href="#" class="badge badge-secondary pull-right">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </a>
              <br>
            </ng-container>
           
          </td>
          <td>
            <ng-container *ngFor="let skill of skills; let i = index;">
              <span>{{ skill.name }} </span>
              <a href="#" class="badge badge-secondary pull-right">
                <i class="fa fa-minus" aria-hidden="true"></i>
              </a>
              <span class="badge badge-pill badge-primary pull-right">{{ skill.number }}</span>
              <a href="#" class="badge badge-secondary pull-right">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </a>
              <br>
            </ng-container>
           
          </td>
          <td>
            <ng-container *ngFor="let skill of skills; let i = index;">
              <span>{{ skill.name }} </span>
              <a href="#" class="badge badge-secondary pull-right">
                <i class="fa fa-minus" aria-hidden="true"></i>
              </a>
              <span class="badge badge-pill badge-primary pull-right">{{ skill.number }}</span>
              <a href="#" class="badge badge-secondary pull-right">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </a>
              <br>
            </ng-container>
           
          </td>
          <td>
            <ng-container *ngFor="let skill of skills; let i = index;">
              <span>{{ skill.name }} </span>
              <a href="#" class="badge badge-secondary pull-right">
                <i class="fa fa-minus" aria-hidden="true"></i>
              </a>
              <span class="badge badge-pill badge-primary pull-right">{{ skill.number }}</span>
              <a href="#" class="badge badge-secondary pull-right">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </a>
              <br>
            </ng-container>
           
          </td>
         
         
        </tr>
      </ng-container>
    </tbody>
  </table>
  <hr>
  <button class="btn btn-success" (click)="decWeek();">Previous</button>
  <button class="btn btn-success pull-right" (click)="incWeek();">Next</button>
  <!-- <app-pagination [callback]="showMessage"> </app-pagination> -->
  </div>