<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">06.06.-06.13.</th>
      <th scope="col">06.14.-06.21.</th>
      <th scope="col">06.21.-06.28.</th>
      <th scope="col">06.28.-07.05.</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark <hr><div>Company: MorganStanley</div><div>E-mail: rekavihari@gmail.com</div></td>
      
      <td>23<hr> <div>Java, C++, C#</div></td>
      <td>24</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>