<div class="container">
  <h1>Add New Task</h1>
  <form>
    <div class="form-group">
      <label for="name">Project name</label>
      <input type="text" class="form-control" id="name" required>
    </div>

    <div class="form-group">
      <label for="startdate">Start date</label>
      <input type="text" class="form-control" id="startdate">
    </div>
    <div class="form-group">
      <label for="duedate"></label>
      <input type="text" class="form-control" id="duedate">
    </div>
    <div class="form-group">
      <label for="plannedhours">Planned hours</label>
      <input type="text" class="form-control" id="plannedhours">
    </div>
    <div class="form-group">
      <label for="maxhours">Max hours</label>
      <input type="text" class="form-control" id="maxhours">
    </div>
    <div class="form-group">
      <label for="requiredskills">Required Skills</label>
      <input type="text" class="form-control" id="requiredskills">
    </div>
    <div class="form-group">
      <label for="projectleader">Project leader</label>
      <input type="text" class="form-control" id="projectleader">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>

  </form>

</div>