<div class="container">
  <h1 class="text-center">Add New Project</h1>
  <form>
    <div class="form-group">
      <div class="row">
        <div class="col col-xs-6">
          <label for="name">Project name</label>
          <input type="text" class="form-control" id="name" required>
        </div>
        <div class="col col-xs-6">
          <label for="projectleader">Project leader</label>
          <input type="text" class="form-control" id="projectleader">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col col-xs-6">
          <label for="startdate">Start date:</label>
          <input type="date" class="form-control" id="startdate">
        </div>
        <div class="col col-xs-6">
          <label for="duedate">Due date:</label>
          <input type="date" class="form-control" id="duedate">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col col-xs-6">
          <label for="plannedhours">Planned hours</label>
          <input type="time" class="form-control" id="plannedhours">
        </div>
        <div class="col col-xs-6">
          <label for="maxhours">Max hours</label>
          <input type="time" class="form-control" id="maxhours">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col col-lg-2 offset-md-5">
          <label for="risk">Indulás valószínűsége</label>
          <input type="number" class="form-control" id="risk">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="requiredskills">Required Skills</label>
      <input type="text" class="form-control" id="requiredskills">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>

  </form>

</div>